#table
{
	border-style : solid;
	border-color : orange;
}
#table tr
{
	background-color : pink;
}
body
{
	background-color : magenta;
}
h1
{
border : 5px solid red;
width : 600px;
margin-top : 20px;
border-radius : 10px;
outline : 3px solid green;
text-shadow : 4px 3px red;
color : yellow;
}
a:link
{
	color : green;
	background-color : lightgray;
	border : 1px solid green;
	text-decoration : none;
	padding : 4px;
}
a:hover
{
	text-decoration : none;
}